
.Chart-main {
    
    width: 90%; /* Responsive width */
    max-width: 800px; /* Limit the width on large screens */
    margin: 20px auto; /* Center the chart */
    padding: 20px; /* Add padding for better spacing */
    background-color: rgb(239, 239, 239); /* Light background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
    margin-top: -620px;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
    .Chart-main {
        padding: 10px; /* Reduce padding for smaller screens */
        max-width: 200px;
        
    }

    h2 {
        font-size: 18px; /* Smaller font size for the title */
        text-align: center; /* Center the title */
    }
}

/* Media query for very small screens */
@media (max-width: 480px) {
    h2 {
        font-size: 16px;
    }
}

